
* {
    background-color: #e0e3d2;
    
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
}

body h1{
    font-family: sans-serif;
    color: #3f532e;
    font-size: 50pt;
    font-weight: bold;
    margin-bottom: 20px;

}

body h2 {
    margin-top: 0;
    font-family: sans-serif;
    color: #3f532e;
    font-size: 30pt;
    font-weight: bold;
    margin-bottom:100px;

}

#scoreSection {
    border: 2px solid black;
    width: 65%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#stopWatch {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    font-family: sans-serif;
    line-height: 2.1;
    font-size: 70px;
}

#counters {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.score {
    width: 100px;
    height:100px;
    border: 2px solid black;
    border-radius: 30px;

    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    line-height: 2.5;
    font-weight: bold;
}

#counters p {
    text-align: center;
    color: #676666;
    font-family: sans-serif;
}








#textSection {
    display: flex;
    width: 65%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 30pt;
    background-color: #a7b59c;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    white-space: pre;
    overflow: hidden;
}
#seen {
    visibility: visible;
    width: 50%;
    height: 100%;
    background-color: transparent;
    direction: rtl;
    line-height: 2.5;
    color: darkslategray;

}

#seen span.disable{
    background-color: transparent;
    color: #676666;
}
#seen span.cross{
    text-decoration: line-through;
    background-color: transparent;
}



#new {
    display: flex;
    align-items: center;

    visibility: visible;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

#cursor {
    width: 1.5px;
    height: 40px;
    background-color: black;
}

#trailingSpace {
    width: 10px;
    height: 40px;
    background-color: transparent;
}